/*--------------------------------------------- normalize ------------------------------------------------- */
*{
    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ;  
}

/*---------------------------------------------- body-------------------------------------------------- */

body{

    background-image: linear-gradient(
        30deg,
        hsl(0deg 0% 100%) 0%,
        hsl(238deg 5% 96%) 8%,
        hsl(238deg 5% 93%) 15%,
        hsl(238deg 5% 89%) 20%,
        hsl(238deg 5% 86%) 25%,
        hsl(238deg 5% 82%) 30%,
        hsl(238deg 5% 79%) 34%,
        hsl(238deg 5% 76%) 38%,
        hsl(238deg 5% 72%) 42%,
        hsl(238deg 5% 69%) 45%,
        hsl(238deg 5% 66%) 49%,
        hsl(238deg 5% 62%) 53%,
        hsl(238deg 4% 59%) 56%,
        hsl(238deg 4% 56%) 60%,
        hsl(237deg 4% 53%) 64%,
        hsl(237deg 5% 49%) 68%,
        hsl(237deg 5% 46%) 72%,
        hsl(237deg 6% 43%) 76%,
        hsl(237deg 7% 40%) 81%,
        hsl(237deg 7% 37%) 86%,
        hsl(236deg 8% 34%) 92%,
        hsl(236deg 9% 31%) 100%
    );

}

/* ------------------------------------header-menu de navegacion ------------------------------------ */

.navbar.navbar-expand-lg{
    background: rgb(0, 0, 0, 0.8);
    position: fixed;

    padding: 2%;
    padding-left: 50%;
    height: 70px;
    width: 100%;

    list-style-type: none;
    z-index: 9;
}

/*----------------------- animacion del menu de navegacion -----------------------  */

.navbar.navbar-expand-lg li a{
    color: white;
    text-decoration: none;
}

.navbar.navbar-expand-lg li a:hover{
    color: rgb(252, 1, 1);
    transition: 1s;
}

.nav-link{
    --clippy: polygon(0 2%, 0 1%, 0 100%, 0% 100%);
}

.nav-link:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
}

.nav-link::after{
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

/*-------------------------------------- animaciones o keyframes --------------------------------------  */

.wow.animate__animated.animate__backInDown{
    animation-duration: 0.5s; 
    animation-delay: 0.5s;
}

.wow.animate__animated.animate__backInUp{
    animation-duration: 1s;
    animation-delay:1s;
}



/* ------------------------------------------- header-logo  -------------------------------------------*/

.navbar-brand{
    display: flex;
    position: absolute;
    left: 10px;
    height: 55px;
    position: fixed;
}

/* -------------------------------------------- imagenes ---------------------------------------------*/

/* ---------------------------------------------- servicios ---------------------------------------------- */

.servicios__trabajos{
    width: 225px;
    height: 225px;
    border: 2px solid black;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}

.animate__animated.animate__fadeInRight{
    display: flex;
    padding: 5px;
}

.servicios__trabajos:hover{
    object-fit: cover;
    width: 17%;
}

/* ---------------------------------------------- galeria ---------------------------------------------- */

.itemGaleria {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;

    background-size: cover;
    background-position: center;

    filter: grayscale(100%);
    transition: 0.3s;
}

.itemGaleria:hover {
    transform: scale(1.04);
    filter: grayscale(0%);
}

.containerGaleria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

@media (min-width: 600px) {
    .gallery2 {
    grid-column: span 2;
    }

    .gallery1 {
    grid-row: span 2;
    }
}


/*---------------------------------------------- footer-------------------------------------------------- */
.footerLinks{
    display: relative;
    font-size: 1em;
    margin-left: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
}

.footerLinks li a:hover{
    color: rgb(182, 117, 117);
}

.footer_hr{
    margin-left: 200px;
    margin-right: 200px;

}

.footerLinks li a{
    text-decoration: none;
    color: white;
}

.footer{
    background-color:rgb(0, 0, 0, 0.8);
    color: white;
    padding: 2em;
}
.footerText{
    background: none;
}
/* ---------------------------------------------- botones ---------------------------------------------- */

.footer__boton1{
    width: 25px;
    right: 25%;
    font-size:large;
}

.footer__boton1:hover{
    background-color:rgb(220, 233, 125);
}

.footer__boton2{
    width: 25px;
    right: 25%;
    font-size:large;
}
.footer__boton2:hover{
    background-color: rgb(220, 233, 125);
}

.footer__boton3{
    width: 25px;
    right: 25%;
    font-size:large;
}

.footer__boton3:hover{
    background-color: rgb(220, 233, 125);
}

.fa-solid.fa-location-dot{
    color: red;
}

.fa-thin.fa-mobile-retro{
    color:gainsboro;
}

/* ---------------------------------------------- contacto ---------------------------------------------- */

.formularioContacto{
    background-image: linear-gradient(
        300deg,
        hsl(0deg 0% 27%) 0%,
        hsl(344deg 0% 28%) 9%,
        hsl(344deg 0% 30%) 16%,
        hsl(344deg 0% 32%) 22%,
        hsl(344deg 0% 34%) 26%,
        hsl(344deg 0% 35%) 29%,
        hsl(344deg 0% 37%) 31%,
        hsl(344deg 0% 39%) 33%,
        hsl(344deg 0% 41%) 34%,
        hsl(344deg 0% 42%) 35%,
        hsl(344deg 0% 44%) 36%,
        hsl(344deg 0% 46%) 36%,
        hsl(344deg 0% 48%) 37%,
        hsl(344deg 0% 50%) 38%,
        hsl(344deg 0% 51%) 38%,
        hsl(344deg 0% 53%) 39%,
        hsl(344deg 0% 55%) 41%,
        hsl(344deg 0% 57%) 43%,
        hsl(344deg 0% 59%) 47%,
        hsl(344deg 0% 61%) 53%,
        hsl(344deg 0% 63%) 63%,
        hsl(0deg 0% 65%) 99%);
    
    width: 80%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.mapContacto {
    border: 1px solid black;
    width: 100%;
    height: 600px;
}

/* ----------------------------------------- texto y fuentes ------------------------------------------ */

.texto1{
    text-align: center;
    display: inline-block;
    padding: 0.5em;
}

body{
    font-family: 'Koulen', serif;
}

.title{
    padding: 0.5em;
    color: black;
}

.texto {
    padding: 3%;
}

.title1{
    padding: 2em;
    color: black;
}

.textodeServicios{
    padding: 15px;
    list-style-type: none;
    color: black;
}


/* ---------------------------------------------- videos ---------------------------------------------- */

.video__nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    padding-bottom: 3%;

}

.videos__home{
    display: flex;
    align-content: center;
    justify-self: center;
}

.videoshome1{
    width: 42em;
    padding: 10px;
}


.videoshome2{
    width: 42em;
    padding: 10px;
}

.video__index{
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoIndex{
    width: 30em;
    filter: grayscale(100%);
    transition: 0.5s;
    padding: 10px;
}

.videoIndex:hover {
    width: 40%;
    filter: grayscale(0%);
}


/* ------------------------------------------------------------------- media queries ------------------------------------------------------------*/

/*----------------------------------------------------------------------- TABLET ----------------------------------------------------------------*/

/*----------------------------------------------------------------------- index -----------------------------------------------------------------*/

@media(max-width:768px){

/*------------------------------- videos ----------------------------------*/

    .videoIndex{
        width: 40%;
    }

    .videoshome2{
        width: 100%;
    }

    .videoshome1{
        width: 100%;
    }

    .videos__home{
        display: grid;
    }

/*------------------------------- imagen ----------------------------------*/
    .imagenindexContenedor{
        display: none;
    }

/*------------------------------- footer ----------------------------------*/

    .footerLinks{
        display: inline;
    }

/*--------------------------------------------------------------- nosotros --------------------------------------------------------------------*/
.textoNosotros{
    position:absolute;
    margin-top: 350px;
    padding: 20px;
    text-align: center;
}
/*--------------------------------------------------------------- servicios --------------------------------------------------------------------*/

.servicios__trabajos:hover{
    width: 225px;
}
}

/*----------------------------------------------------------------------- MOBILE ----------------------------------------------------------------*/

/*----------------------------------------------------------------------- index -----------------------------------------------------------------*/

@media(max-width:480px){

    /*------------------------------- menuNav ----------------------------------*/
}

    .videoshome1{
        width: 40em;
        padding: 5px;
    }
    
    
    .videoshome2{
        width: 40em;
        padding: 5px;
    }

    /*--------------------------------------------------------------- nosotros --------------------------------------------------------------------*/
    
    .textoNosotros{
        position:absolute;
        margin-top: 350px;
        padding:20px;
        margin-bottom: 2em;
        text-align: center;
    }


/*------------------------------- footer ----------------------------------*/

    .footerLinks{
        display: inline;
    }



/*------------------------------------------------------- MOBILE - IPAD - TABLET --------------------------------------------------------------*/

@media(max-width:990px){

    /*------------------------------- MenuNav ----------------------------------*/
    
    
    .navbar.navbar-expand-lg{
        position:relative;
        width: 100%;
        height:100vh;
        transition: all .5s;
        display: table;
        background-image:url(../img/da2f9fd4-7e8d-4c5b-95ea-7ebe9f3b4905.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .navbar.navbar-expand-lg li a:hover{
        color: rgb(240, 8, 8);
        transition: 1s;
    }
    
    .navbar.navbar-expand-lg li a{
        color:white;
        text-decoration: none;
        background-image:url(../img/imagenBoton.jfif);
        border-radius: 10px;
    }

    /*------------------------------- Carrousel ----------------------------------*/

    #carouselExampleIndicators {
        padding: 10px;
    }

    .navbar-brand{
        position:absolute;
    }
    

}

/*----------------------------------------------------------------------- IPAD - MINI ----------------------------------------------------------------*/

/*----------------------------------------------------------------------- index -----------------------------------------------------------------*/

@media(max-width:1024px){

    /*------------------------------- videos ----------------------------------*/
    
        .videoIndex{
            width: 40%;
        }
    
        .videoshome2{
            width: 100%;
        }
    
        .videoshome1{
            width: 100%;
        }
    
        .videos__home{
            display: grid;
        }



    /*--------------------------------------------------------------- nosotros --------------------------------------------------------------------*/
    
    .textoNosotros{
        position:absolute;
        margin-top: 380px;
        padding: 40px;
        text-align: center;
        padding-bottom: 50px;
    }
    }
