/* MEDIA QUERIES */

/*------------------------------------------------------- MOBILE - IPAD - TABLET --------------------------------------------------------------*/

/*------------------------------- MenuNav ----------------------------------*/
@media (max-width: 990px) {

.fotoPortada1{
    background-image: url(../img/da2f9fd4-7e8d-4c5b-95ea-7ebe9f3b4905.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.fotoPortada2{
    background-image: url(../img/FotoPortada\ 2.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.fotoPortada3{
    background-image: url(../img/FotoPortada\ 3.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.fotoPortada4{
    background-image: url(../img/FotoPortada\ 4.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.fotoPortada5{
    background-image: url(../img/FotoPortada\ 5.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.navbar.navbar-expand-lg li a:hover {
    color: #f00808;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    }

.navbar.navbar-expand-lg li a {
    color: white;
    background-image: url(../img/ContenidoNav.webp);
    width: 70px;
    border-radius: 10px;
    }


    /*------------------------------- Carrousel ----------------------------------*/

    #carouselExampleIndicators {
    padding: 10px;
    }

    /*------------------------------- Contacto ----------------------------------*/

    .formularioContacto {
    width: 95%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    }

    .title1{
        padding: 2em;
    }

    /*------------------------------- Nosotros ----------------------------------*/

    .flex-container{
        flex-direction: column;
        gap: 10px;
        padding: 5px;
    }

    .flex-container div{
        width: 300px;
    }

    .flex-container .imagenNosotros{
        width: 300px;
        height: 300px;
    }
}

    /*------------------------------- CardServ ----------------------------------*/

.imagenCard{
    margin-bottom: 10px;
}


/*------------------------------------------------------------------- IPAD - MINI ----------------------------------------------------------------*/
/*----------------------------------------------------------------------- index -----------------------------------------------------------------*/

@media (max-width: 1024px) {
    /*------------------------------- videos ----------------------------------*/


    .videos__home .videoshome2 {
        width: 100%;
    }

    .videos__home .videoshome1{
        width: 100%;
    }

    .videos__home {
    display: -ms-grid;
    display: grid;
    }

}

/*----------------------------------------------------------------------- index -----------------------------------------------------------------*/

/*------------------------------- videos ----------------------------------*/


@media (min-width: 1024px){

    .videos__home .videoshome2 {
        width: 100%;
    }

    .videos__home .videoshome1{
        width: 100%;
    }
}

/*------------------------------- Titulo ----------------------------------*/

@media (min-width: 990px){
    .title1{
        padding: 3.1em;
    }
}