/* MEDIA QUERIES */



@media (max-width: 768px) {
    /*------------------------------- videos ----------------------------------*/

    .video__index .videoIndex{
    width: 70%;
    }
    .videos__home .videoshome2{
    width: 100%;
    }
    .videos__home .videoshome1 {
    width: 100%;
    }
    .videos__home {
    display: -ms-grid;
    display: grid;
    }

    /*------------------------------- imagen ----------------------------------*/

    .imagenindexContenedor {
    display: none;
    }
    /*------------------------------- footer ----------------------------------*/

    .footerLinks {
    display: inline;
    }
    /*--------------------------------------------------------------- nosotros --------------------------------------------------------------------*/

    .textoNosotros {
    position: absolute;
    margin-top: 350px;
    padding: 20px;
    text-align: center;
    }
}

/*----------------------------------------------------------------------- MOBILE ----------------------------------------------------------------*/
/*----------------------------------------------------------------------- index -----------------------------------------------------------------*/

    /*------------------------------- Videos ----------------------------------*/

@media (max-width: 480px) {


.videos__home .videoshome1 {
    width: 40em;
    padding: 5px;
}

.videos__home .videoshome2 {
    width: 40em;
    padding: 5px;
}

/*--------------------------------------------------------------- nosotros --------------------------------------------------------------------*/

.textoNosotros {
    position: absolute;
    margin-top: 350px;
    padding: 20px;
    margin-bottom: 2em;
    text-align: center;
}

/*------------------------------- footer ----------------------------------*/
.footerLinks {
    display: inline;
}
}

/*------------------------------------------------------- MOBILE - IPAD - TABLET --------------------------------------------------------------*/

/*------------------------------- MenuNav ----------------------------------*/
@media (max-width: 990px) {

.fotoPortada1{
    background-image: url(../img/da2f9fd4-7e8d-4c5b-95ea-7ebe9f3b4905.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.fotoPortada2{
    background-image: url(../img/FotoPortada\ 2.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.fotoPortada3{
    background-image: url(../img/FotoPortada\ 3.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.fotoPortada4{
    background-image: url(../img/FotoPortada\ 4.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.fotoPortada5{
    background-image: url(../img/FotoPortada\ 5.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.navbar.navbar-expand-lg li a:hover {
    color: #f00808;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    }

.navbar.navbar-expand-lg li a {
    color: white;
    background-image: url(../img/ContenidoNav.webp);
    width: 70px;
    border-radius: 10px;
    }



    /*------------------------------- Carrousel ----------------------------------*/

    #carouselExampleIndicators {
    padding: 10px;
    }
    .navbar-brand {
    position: absolute;
    }

    
    /*------------------------------- Contacto ----------------------------------*/

    .formularioContacto {
    width: 95%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    }

    .title1{
        padding: 1em;
    }

    /*------------------------------- Nosotros ----------------------------------*/

    .ImagenNosotros{
        width: 300px;
        height: 300px;
    }
}
/*------------------------------------------------------------------- IPAD - MINI ----------------------------------------------------------------*/
/*----------------------------------------------------------------------- index -----------------------------------------------------------------*/

@media (max-width: 1024px) {
    /*------------------------------- videos ----------------------------------*/


    .video__index .videoIndex{
    width: 70%;
    }
    .videos__home .videoshome2 {
        width: 100%;
    }

    .videos__home .videoshome1{
        width: 100%;
    }

    .videos__home {
    display: -ms-grid;
    display: grid;
    }


    /*--------------------------------------------------------------- nosotros --------------------------------------------------------------------*/
    .textoNosotros {
    position: absolute;
    margin-top: 380px;
    padding: 40px;
    text-align: center;
    padding-bottom: 50px;
    }
}

/*----------------------------------------------------------------------- index -----------------------------------------------------------------*/

/*------------------------------- videos ----------------------------------*/


@media (min-width: 1024px){

    .videos__home .videoshome2 {
        width: 100%;
    }

    .videos__home .videoshome1{
        width: 100%;
    }

}