
/* ---------------------------------------------- servicios ---------------------------------------------- */

.serviciosMain{
    .card{
        margin: 20px;
        padding: 0px;

        box-shadow: -1px 2px 23px 11px rgba(0,0,0,0.53);
        -webkit-box-shadow: -1px 2px 23px 11px rgba(0,0,0,0.53);
        -moz-box-shadow: -1px 2px 23px 11px rgba(0,0,0,0.53);
    }
}   


/* ---------------------------------------------- galeria ---------------------------------------------- */

.containerGaleria{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    

    .itemGaleria {
        display: flex;
        align-items: center;
        justify-content: center;

    
        border-radius: 4px;
    
        background-size: cover;
        background-position: center;
    
        filter: grayscale(100%);
        transition: 0.3s;

        box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.65);
        -webkit-box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.65);
        -moz-box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.65);
    }

    .itemGaleria:hover {
        transform: scale(1.04);
        filter: grayscale(0%);
    }

    @media (min-width: 600px) {
        .gallery2 {
        grid-column: span 2;
        }
    
        .gallery1 {
        grid-row: span 2;
        }



    }
}


/* ---------------------------------------------- contacto ---------------------------------------------- */

.ContactoMain{

    .fa-solid.fa-location-dot{
        color: rgb(91, 6, 6);
        padding-right: 10px;
    }
    
    .fa-thin.fa-mobile-retro{
        color:gainsboro;
        padding-right: 10px;
    }
    
    .fa-solid.fa-envelopes-bulk{
        color: black;
        padding-right: 10px;
    }
}



.formularioContacto{
    background: #ffffff;
    background: linear-gradient(48deg,#ffffff 0%, #cbcbcb 100%);
    background: -webkit-linear-gradient(48deg,#ffffff 0%, #cbcbcb 100%);
    background: -moz-linear-gradient(48deg,#ffffff 0%, #cbcbcb 100%);

    height: auto;
    margin: 0 auto;
    width: 70%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;

    box-shadow: -1px 1px 27px 16px rgba(0,0,0,0.65);
    -webkit-box-shadow: -1px 1px 27px 16px rgba(0,0,0,0.65);
    -moz-box-shadow: -1px 1px 27px 16px rgba(0,0,0,0.65);

}


.mapContacto {
    border: 1px solid black;
    width: 100%;
    height: 600px;
}


/* ---------------------------------------------- nosotros ---------------------------------------------- */

.nosotrosSection{

    .video__nosotros{
        width: 100%;
        height: 400px;
        padding-bottom: 3%;
    }
}


/* ---------------------------------------------- index ---------------------------------------------- */

.video__index{

        display: flex;
        align-items: center;
        justify-content: center;


        .videoIndex:hover {
            filter: grayscale(0%);
        }

        .videoIndex{
            width: 35em;
            filter: grayscale(100%);
            transition: 0.5s;
            padding: 10px;
        }

}

.videos__home{

    display: flex;
    align-content: center;
    justify-self: center;


    .videoshome1{
        padding: 10px;
    }
    
    .videoshome2{
        padding: 10px;
    }

}

/* ---------------------------------------------- Card Serv 1 ---------------------------------------------- */

.mainServicios{
    color: black;
    padding: 20px;
    box-shadow: -1px 1px 14px 9px rgba(3,3,3,0.75);
    -webkit-box-shadow: -1px 1px 14px 9px rgba(3,3,3,0.75);
    -moz-box-shadow: -1px 1px 14px 9px rgba(3,3,3,0.75);


    .imagenCard{
        width: 280px;
        height: 280px;
        margin: 20px;
        box-shadow: -1px 2px 23px 11px rgba(0,0,0,0.53);
        -webkit-box-shadow: -1px 2px 23px 11px rgba(0,0,0,0.53);
        -moz-box-shadow: -1px 2px 23px 11px rgba(0,0,0,0.53);
    }

}

/* ------------------------------------------- Imagenes de fondo  ------------------------------------------- */

/* ----------------------- Fondo1 ------------------------ */

.fondo1{
    background-image: url(../img/fondo1.jpg);
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
}

.fondo1Color{
    background: rgba(150, 145, 144, 0.8); 
    color: rgba(150, 145, 144, 0.8);
    z-index: 10;
}

/* ----------------------- Fondo2 ------------------------ */

.fondo2{
    background-image: url(../img/fondo2.jpg);
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
}

.fondo2Color{
    background: rgba(150, 145, 144, 0.8); 
    color: rgba(150, 145, 144, 0.8);
    z-index: 10;
}

/* ----------------------- Fondo3 ------------------------ */

.fondo3{
    background-image: url(../img/fondo3.jpg);
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
}

.fondo3Color{
    background: rgba(150, 145, 144, 0.8); 
    color: rgba(150, 145, 144, 0.8);
    z-index: 10;
}

/* ----------------------- Fondo4 ------------------------ */

.fondo4{
    background-image: url(../img/fondo4.jpg);
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
}

.fondo4Color{
    background: rgba(150, 145, 144, 0.8); 
    color: rgba(150, 145, 144, 0.8);
    z-index: 10;
}

/* ----------------------- Fondo5 ------------------------ */

.fondo5{
    background-image: url(../img/fondo5.jpg);
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
}

.fondo5Color{
    background: rgba(150, 145, 144, 0.8); 
    color: rgba(150, 145, 144, 0.8);
    z-index: 10;
}

/* ----------------------- Fondo6 ------------------------ */

.fondo6{
    background-image: url(../img/fondo6.jpg);
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
}

.fondo6Color{
    background: rgba(150, 145, 144, 0.8); 
    color: rgba(150, 145, 144, 0.8);
    z-index: 10;
}
