

.desafio{
    background-color: red;
    font-size: large;
    width: 50%;
    height: auto;
}


/* ----------------------------------------------MAP-----------------------------------------------------*/

$redes-s : (
    facebook: blue,
    instagram:pink,
    twitter:skyblue,
    linkedin:violet,
    youtube:red,
    whatsapp:green,
);

@each $nombre, $valor in $redes-s {
    .icon-#{nombre}{
        color: $valor;
    }
}

.Boton1{
    color: map-get($redes-s, linkedin,);
    margin-top: 20px;
    width: 30px;
}

.Boton2{
    color: map-get($redes-s, instagram,);
    margin-top: 20px;
    width: 30px;
}

.Boton3{
    color: map-get($redes-s, whatsapp,);
    margin-top: 20px;
    width: 30px;
}

$colores:(
    base:black,
    principal:blue,
    fondo:yellow,
);

.muestra-color{
    background: map-get($colores, principal, );
    margin-top: 40px;
    width: 60%;
}

.color{
    color: map-get($colores, fondo,);
}

.colorTexto{
    color: map-get($colores, base, );
}



/* ---------------------------------------------- EXTEND -----------------------------------------------------*/

.botonExtend{
    display: inline;
    width: 200px;
    margin: 50px;
    border-radius: 10px
}

.botonExtend--red{
    @extend .botonExtend;
    background-color:red;
    color: white;
}

.botonExtend--blue{
    @extend .botonExtend;
    background-color:blue;
    color: white;
}

.botonExtend--green{
    @extend .botonExtend;
    background-color:green;
    color: white;
}


/* ---------------------------------------------- MIXINS -----------------------------------------------------*/

@mixin botonMixin{
    display: block;
    width: 200px;
    border-radius: 10px;
}


.botonMixin--red{
    @include botonMixin;
    background-color: red;
}

@mixin botonMixin ($col, $bg,){
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    color: $col;
    background: $bg;
}

.botonMixin--blue{
    @include botonMixin(orange,black,)
}
