/*---------------------------------------------- footer-------------------------------------------------- */
.footer{
    background: rgb(70,70,70);
    background: linear-gradient(90deg, rgba(70,70,70,1) 0%, rgba(56,56,56,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    padding: 2em;
    opacity: 0.9;
    margin: auto;
    width: 100%;
    text-align: center;
    

    .numerosContact{
        list-style: none;
    }


    .footerLinks{
        margin: auto;
        width: 100%;
        text-align: center;

        i{
            color: white;
            
        }
    }
}