.header{

    .navbar.navbar-expand-lg{
        background: rgb(70,70,70);
        background: linear-gradient(90deg, rgba(70,70,70,1) 0%, rgba(56,56,56,1) 0%, rgba(0,0,0,1) 100%);
        position: fixed;
        padding: 1%;
        padding-left: 50%;

        width: 100%;
        opacity: 0.8;

        z-index: 99;
    }

    li a{
        color: white;
    }

    li a:hover{
        color: rgb(252, 1, 1);
        transition: 1s;
    }

    .nav-link{
        --clippy: polygon(0 2%, 0 1%, 0 100%, 0% 100%);
    }

    .nav-link:hover{
        --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
        
    }

    .nav-link:after{
        content: "";
        display: block;
        background: white;
        height: 3px;
        clip-path: var(--clippy);
        transition: clip-path .5s;
    }

    .navbar-brand{
        display: flex;
        left: 10px;
        height: 55px;
        position: fixed;
    }

    .navbar-toggler{
        width: 70px;
    }
}