

/* archivo principal */

/*--------------------------------------------- @import ------------------------------------------------- */

@import "footer";
@import "header";
@import "body";

/*--------------------------------------------- normalize ------------------------------------------------- */

*{
    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ;  
}


/*---------------------------------------------- fuentes -------------------------------------------------- */

h2{
    font-family: 'League Gothic', sans-serif;
}

h4{
    font-family: 'League Gothic', sans-serif;
}

h3{
    font-family: 'League Gothic', sans-serif;
}

p{
    font-family: 'Oswald', sans-serif;
}

li{
    font-family: 'Oswald', sans-serif;
}


/* ----------------------------------------- texto ------------------------------------------ */

.texto1{
    text-align: center;
    display: inline-block;
    padding: 0.5em;
    color: black;
    margin: auto;
    width: 100%;
    text-align: center;
}

.title{
    padding: 1em;
    color: black;
    list-style: none;
}

.texto {
    padding: 3%;
    color: black;
    margin: auto;
    width: 100%;
    text-align: center;
}

.title1{
    font-size: 2.5rem;
    color: black;
    text-shadow: -2px 3px 4px rgba(0,0,0,0.64);
    margin: auto;
    text-align: center;
    width: 100%;
}

.title2{
    padding: 1em;
    font-size: 2.5rem;
    color: black;
    text-shadow: -2px 3px 4px rgba(0,0,0,0.64);
    margin: auto;
    width: 100%;
    text-align: center;
}


/* --------------------------------------------------------- Animacion de titulos ------------------------------------------------------------------ */

body{

    .borders{
        font-size: 2.5rem;
        position: absolute;
        margin-top: 5em;

        color: white;
        text-shadow: 0px 4px 5px rgba(0,0,0,1);
        width: 100%;
        text-align: center;
    }
}


/* --------------------------------------------------------- Animacion de titulos 2 ----------------------------------------------------------------- */

h1{
    span{
    font: 700 4em/1 "Oswald", sans-serif;
    display: block;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    color: black;
    
        background: url(../img/AnimacionTitulo.png) repeat-y;
        background-clip: text;
    
        animation: aitf 80s linear infinite;
    
        transform: translate3d(0,0,0);
        backface-visibility: hidden;
    }

    
    @keyframes aitf {
        0% { background-position: 0% 50%; }
        100% { background-position: 100% 50%; }
    }
}


/* --------------------------------------------------------- Boton ------------------------------------------------------------------ */

.boton-subir {
    position: fixed;
    right: 2%;
    bottom: 10px;
    background-color: #17181C;
    padding: 20px;
    display: none;
    opacity: 0.7;
    z-index: 99;
    border-radius: 10px;
}

.boton-subir a {
    font-size: 24px;
    color: #fff;
}
