

/* archivo principal */

/*--------------------------------------------- @import ------------------------------------------------- */

@import "footer";
@import "header";
@import "body";

/*--------------------------------------------- normalize ------------------------------------------------- */

*{
    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ;  
}


/*---------------------------------------------- fondoBody -------------------------------------------------- */

body{

    background: white;
        font-family: 'Koulen', serif;

}

/* ----------------------------------------- texto y fuentes ------------------------------------------ */

.texto1{
    text-align: center;
    display: inline-block;
    padding: 0.5em;
    color: black;
}

.title{
    padding: 1em;
    color: black;
}

.texto {
    padding: 3%;
    color: black;
}

.title1{
    padding: 3em;
    font-size: 2.5rem;
    color: black;
    color: black;
    text-shadow: -2px 3px 4px rgba(0,0,0,0.64);

}

/* --------------------------------------------------------- Animacion de titulos ------------------------------------------------------------------ */

body{

    .borders{
        font-size: 2.5rem;
        position: absolute;
        margin: 3em;
        margin-top: 5em;

        color: white;
        text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        1px 1px 0 black,
        -1px 1px 0 black
    }

    .wave{
        font-size: 2.5rem;
        position: absolute;
        margin: 3em;
        margin-top: 5em;

        color: black;
        animation: wave 3s ease-in-out infinite;
    }

    @keyframes wave {
        0%, 100%{
            clip-path: polygon(
                0% 47%,
                10% 48%,
                33% 54%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%,
            );
        }
    
        50%{
            clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%,
            );
        }
    }
}
